@font-face {
    font-family: 'Minecraft';
    src: url('font.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Minecraft', sans-serif;
    background: #121212;
    color: #fff;
    transition: background 0.5s, color 0.5s;
    overflow-x: hidden;
}

body.light {
    background: url(bg_light.png);
    color: #121212;
}

header {
    background: #1e1e1e;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #00aaff;
}

main {
    padding: 20px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

footer {
    background: #1e1e1e;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-controls {
    margin-top: 10px;
}

#theme-toggle {
    background: #088536;
    color: #fff;
	font-family: 'Minecraft';
	font-size: 10px;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#theme-toggle:hover {
    background: #09ad45;
}

#language-select {
    margin-left: 4px;
    padding: 1px;
	font-family: 'Minecraft';
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    transition: all 0.3s ease-in-out;
	background: url(bg_dark.png);
}

body.light header {
    background: #f0f0f0;
}

body.light .navbar a {
    color: #121212;
}

body.light footer {
    background: #f0f0f0;
    color: #121212;
}

body.dark header {
    background: #1e1e1e;
}

body.dark .navbar a {
    color: #fff;
}

body.dark footer {
    background: #1e1e1e;
    color: #fff;
}

.search-container {
    margin: 20px 0;
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #088536;
    border-radius: 1px;
    background-color: #2a2a2a;
    color: #fff;
    font-size: 16px;
	font-family: 'Minecraft';
    transition: all 0.3s ease-in-out;
}

.search-input::placeholder {
    color: #aaa;
}

.search-input:focus {
    outline: none;
    border-color: #09ad45;
}

.version-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.version-item {
    background: #088536;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.version-item:hover {
    background: #09ad45;
    cursor: pointer;
}
/* Стили для кнопки "Назад" */
.back-btn {
    background-color: #ff6347; /* Красный цвет для кнопки "Назад" */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Minecraft';
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.back-btn:hover {
    background-color: #e53e2f; /* Темнее при наведении */
}

/* Стили для секций скачивания */
.download-section {
    display: none; /* Скрыты по умолчанию */
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 25);
    max-width: 500px;
    margin: 20px auto;
}

.download-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.download-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.download-btn {
    background-color: #088536;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Minecraft';
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #09ad45;
}
.telegram-btn {
    background: #088536;
    color: #fff;
	font-family: 'Minecraft';
	font-size: 10px;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.telegram-btn:hover {
    background-color: #09ad45;
}